<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Exercise-1 ANF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <body>
    <div id="container"></div>
    <script src="handlebars-v4.7.7.js"></script>
    <script src="index.js" text="text/js"></script>
    <script id="ourTemplate" type="text/x-handlebars-template">
      {{#each data}}
        <ul class="row">
          <ul class="column1">
            <img src={{this.avatar}} alt="Image could not be displayed." />
          </ul>
          <ul class="column2">

            <div>Name: {{this.name}}</div>
            <div>Created Date:
              {{this.createdAt}}
            </div>
            <div>ID: {{this.id}}</div>
          </ul>
        </ul>

      {{/each}}
    </script>
  </body>
</html>
