.img {
  width: 150px;
  height: 150px;
}
.column1 {
  float: left;
  width: 12%;
}
.column2 {
  margin-top: 30px;
  margin-left: 10px;
  float: left;
  width: 50%;
  padding: 4px;
  height: 150px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 992px) {
  .column1 {
    margin-left: -50px;
  }
  .column2 {
    margin-left: 100px;
  }
}
@media screen and (max-width: 600px) {
  .column1 {
    margin-left: -50px;
  }
  .column2 {
    margin-left: 100px;
  }
}
@media screen and (max-width: 380px) {
  .column1 {
    margin-left: -50px;
  }
  .column2 {
    margin-left: 100px;
  }
}
